.details {
	display: grid;
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr ;
    gap: 10px 10px;
    width: 80%;
    margin: auto;
    background-color: sandybrown;
    padding: 10px;
}

.heading {
    padding-left: 10px;
}