.days {
    display: grid;
    height: 40px;
    grid-template-columns: 0.8fr 0.7fr 0.4fr 1fr 1fr;
    padding: 5px 5px;
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    backdrop-filter: blur(10px);
    margin: 3px;
    border-radius: 5px;
}

.days__icon {
    object-fit: contain;
    overflow: hidden;
}

.days__icon img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.3);
}