.details-block {
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px;
    border-radius: 5px;
}

.details-block__value {
    font-size: 1.65rem;
    font-weight: 500;
    padding-bottom: 10px;
}