.hourly {
    display: flex;
    flex-basis: 90px;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.4);
    overflow-x: scroll;
    margin-bottom: 10px;
    transition: height 0.25s ease-in-out;
}

.hourly.initial {
    height: 0px;
}

.hourly > * {
    flex: 1 0 90px;
}
.hourly::-webkit-scrollbar {
    display: none;
  }