.today {
    display: flex;
    flex-direction: column;
    width: 96%;
    height: 45vh;
    background-color: rgba(0,0,0,0.4);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    padding: 10px;
    margin: 0 2% 1vh;
    border-radius: 10px;
}

.today form #cityname {
    position: relative;
    left: 50%;
    top: 10px;
    transform: translate(-50%,0);
    border-radius: 40px;
    text-align: center;
    border: 0;
    font-size: 1.2rem;
    opacity: 0.6;
    line-height: 2rem;
    width: 50%;
}

.today form #cityname:focus {
    opacity: 1;
    border: 0;
    border-radius: 10px;
}


.current {
    display: flex;
    padding: 15px;
    width: 100%;
    justify-content: space-between ;
    align-items: baseline;
} 

.current__temp-current {
    display: flex;
}

.temp,.unit {
    font-weight: 400;
    color: #ffffff;
}

.temp {
    font-size: 3rem;
}

.unit {
    font-size: 2rem;
}
.current__temp-minmax {
    color: #ffffff;
    font-size: 1.1rem;
}

.current__weather {
    display: flex;
    flex-direction: column;
    color: #ffffff;
    justify-content: space-around;
    line-height: 1.5rem;
    align-self: center;
    text-align: right;
}

.current__weather-main {
    font-size: 1.4rem;
}

.current__weather-description {
    font-size: 1.1rem;
}