.today {
	display: flex;
	flex-direction: column;
	width: 96%;
	height: 45vh;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(5px);
	justify-content: space-between;
	padding: 10px;
	margin: 0 2% 1vh;
	border-radius: 10px;
	transition: height 0.25s ease-in-out;
}
.today.initial {
	background-color: rgba(0, 0, 0, 0);
	backdrop-filter: blur(0px);
	height: 10vh;
}

.today .location {
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 7%;
	top: 10px;
	font-size: 2rem;
	line-height: 2rem;
	border-radius: 50%;
	color: #ffffff;
}

.today .location:hover {
	color: #000000;
	background-color: rgba(255, 255, 255, 0.7);
}

.today form #cityname {
	position: relative;
	left: 50%;
	top: 10px;
	transform: translate(-50%, 0);
	border-radius: 40px;
	text-align: center;
	border: 0;
	font-size: 1.2rem;
	opacity: 0.6;
	line-height: 2rem;
	width: 50%;
}

.today form #cityname:focus {
	opacity: 1;
	border: 0;
	border-radius: 10px;
}

.unit-choice {
	position: absolute;
	display: flex;
	justify-content: space-between;
	right: 2%;
	top: 15px;
	width: 5.1rem;
	height: 2.4rem;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding: 5px 0.2rem 5px;
}

.unit-cover {
	position: absolute;
	width: 2.5rem;
	height: 90%;
	background-color: rgba(255, 255, 255, 1);
	top: 50%;
	transform: translate(0, -50%);
	transition: all 0.25s ease;
	border-radius: 10px;
	box-shadow: 0.1rem 0.1rem 8px #ffffff,-0.1rem -0.1rem 3px #ffffff;
}

.unit-cover.celcius {
	transform: translate(0%, -50%);
}

.unit-cover.fahrenheit {
	transform: translate(92%, -50%);
}

.unit-value {
	position: absolute;
	font-size: 1.7rem;
}

.unit-value.c {
	right: 7%;
}

.unit-value.f {
	left: 7%;
}

.unit-value.active {
	color: green;
}

.unit-value.disabled {
	opacity: 0.1;
}

.current {
	display: flex;
	padding: 15px;
	width: 100%;
	justify-content: space-between;
	align-items: baseline;
}

.current__temp-current {
	display: flex;
}

.temp,
.unit {
	font-weight: 400;
	color: #ffffff;
}

.temp {
	font-size: 3rem;
}

.unit {
	font-size: 2rem;
}
.current__temp-minmax {
	color: #ffffff;
	font-size: 1.1rem;
}

.current__weather {
	display: flex;
	flex-direction: column;
	color: #ffffff;
	justify-content: space-around;
	line-height: 1.5rem;
	align-self: center;
	text-align: right;
}

.current__weather-main {
	font-size: 1.4rem;
}

.current__weather-description {
	font-size: 1.1rem;
}
